<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 4px;
      }

      ul {
        margin: 0;
      }

      th {
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: #ebeff5;
      }
    </style>
  </head>
  <body style="margin: 0">
    <div style="margin: 12px">


      <div style="border: 1px solid #dddddd; border-radius: 5px">
        <table>
          <tr>
            <th style="width: 15%">Date</th>
            <th style="width: 70%">Workers</th>
            <th style="width: 15%">Unit/Session</th>
          </tr>

          <#list list as attendanceRecord>
            <tr>
              <td> ${attendanceRecord.activeDate?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td>
              <td>
                <div style='text-align:left'>
                  <div style='width:49%;display:inline-block;'>
                    <ul>
                      <#list attendanceRecord.workers as recordWorkers>
                        <#if recordWorkers?is_odd_item>
                          <li>${(recordWorkers.firstName)!''} ${(recordWorkers.lastName)!''}</li>
                        </#if>
                      </#list>
                    </ul>
                  </div>

                  <div style='width:49%;display:inline-block;'>
                    <ul>
                      <#list attendanceRecord.workers as recordWorkers>
                        <#if recordWorkers?is_even_item>
                          <li>${(recordWorkers.firstName)!''} ${(recordWorkers.lastName)!''}</li>
                        </#if>
                        <#if recordWorkers?is_last>
                          <#if recordWorkers?is_odd_item>
                            <li style="list-style-type: none"><br></br></li>
                          </#if>
                        </#if>                        
                      </#list>
                    </ul>
                  </div>
                </div>
              </td>
              <td style="text-align: center">${(attendanceRecord.unitSession)!''}</td>
            </tr>
          </#list>
        </table>
      </div>
    </div>
  </body>
</html>
