<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
  </head>
  <body style="margin: 0">
    <div
      style="
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        background: #ededed;
        justify-content: center;
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
        display: inline-flex;
      "
    >
      <div style="margin: 0 10px">
        <div
          style="
            background: #0095ff;
            color: #f8f9f9;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            height: 60px;
            line-height: 60px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          "
        >
          FBL Church of LaGrange
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            padding: 24px;
            background: white;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
          "
        >
          <h1
            style="
              margin: 0;
              font-size: 20px;
              font-weight: bold;
              letter-spacing: -1px;
              line-height: 48px;
            "
          >
            New Message
          </h1>
          <div style="font-size: 16px; line-height: 24px; margin: 25px 0">
            <p style="margin: 0; font-weight: bold; font-size: 14px">
              ${(username)!''}
            </p>
            <div
              style="
                padding: 10px;
                font-style: italic;
                background-color: #2ba4ea;
                border-radius: 15px;
                color: white;
              "
            >
              ${(emailMessage)!''}
            </div>
          </div>
          <div style="font-size: 16px; line-height: 24px">
            <p style="margin: 0">
              Sincerely,<br />
              FBL Church Support
            </p>
          </div>
        </div>
        <div
          style="
            padding: 12px 24px;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            line-height: 20px;
            color: #666;
          "
        >
          You received this email because you are the current admin contact of
          the webiste. You can respond and kindly ignore this message if it is
          not urgent.
        </div>
        <div
          style="
            padding: 12px 24px;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            line-height: 20px;
            color: #666;
          "
        >
          200 Church St, Lagrange, OH 44050 USA
        </div>
      </div>
    </div>
  </body>
</html>
